DATABASE_URL=postgres://user:password@host:port/defaultdb?sslmode=require
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga_y_random
ASSEMBLYAI_API_KEY=tu_api_key_de_assemblyai
PORT=3000
NODE_ENV=development
